<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <header>
      <h1>Changelog</h1>
    </header>

    <%- @changelog.releases.each do |release| -%>
      <article id="release-<%= release %>">
        <header>
          <h1>Release <%= release %></h1>
        </header>

        <ul>
          <%- %w(added changed fixed).each do |tag| -%>
            <%- release.each_commit(tag) do |commit| -%>
              <li>
                <span class="<%= tag %>"><%= tag.to_s.upcase %></span>
                <%= commit %>
              </li>
            <%- end -%>
          <%- end -%>
        </ul>
      </article>
    <%- end -%>
  </body>
</html>
