<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Changelog</h1>

    <%- @changelog.releases.each do |release| -%>
      <section id="release-<%= release %>">
        <h2>Release <%= release %></h2>

        <ul>
          <%- %w(added changed fixed).each do |tag| -%>
            <%- release.each_commit(tag) do |commit| -%>
              <li>
                <span class="<%= tag %>"><%= tag.to_s.upcase %></span>
                <%= commit %>
              </li>
            <%- end -%>
          <%- end -%>
        </ul>
      </section>
    <%- end -%>
  </body>
</html>
